version: '2'
services:
  web:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy

    volumes:
      - "./app:/data/app"
    logging:
      driver: "json-file"
      options:
        max-size: "10"
        max-file: "10"
    ports:
      - "3000:3000"
